doctype html
html(lang='en')
  head
    title Order Data
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Order Data
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th Price Total
            th Price Subtotal
            th Customer Email
            th Currency Type
            th Date Ordered
        tbody
          each order in orders
            tr
              td #{order.total_price}
              td #{order.subtotal_price}
              td #{order.email}
              td #{order.currency}
              td #{order.month_ordered}, #{order.year_ordered}
        tfoot
          tr
            th(colspan='6')
    footer
      p Orders