doctype html
html(lang='en')
  head
    title Order Data
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Customer Cohort
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th Month
            th 0
            th 1
            th 2
            th 3
            th 4
            th 5
            th 6
            th 7
            th 8
            th 9
            th 10
        tbody
            tr
              td Jan 2022
              - let janOrders = orders.filter(order => order.month_ordered === '01');
              td #{janOrders.length}
            tr
              td Feb 2022
              - let febOrders = orders.filter(order => order.month_ordered === '02');
              td #{febOrders.length}
            tr
              td Mar 2022
              - let marOrders = orders.filter(order => order.month_ordered === '03');
              td #{marOrders.length}
            tr
              td Apr 2022
              - let aprOrders = orders.filter(order => order.month_ordered === '04');
              td #{aprOrders.length}
            tr
              td May 2022
              - let mayOrders = orders.filter(order => order.month_ordered === '05');
              td #{mayOrders.length}
            tr
              td Jun 2022
              - let junOrders = orders.filter(order => order.month_ordered === '06');
              td #{junOrders.length}
            tr
              td Jul 2022
              - let julOrders = orders.filter(order => order.month_ordered === '07');
              td #{julOrders.length}
            tr
        tfoot
          tr
            th(colspan='6')
    footer
      p Retention