doctype html
html(lang='en')
  head
    title customers Data
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Customer Cohort
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th Month
            th 0
            th 1
            th 2
            th 3
            th 4
            th 5
            th 6
            th 7
            th 8
            th 9
            th 10
        tbody
            tr
              td Jan 2021
              - const jan21_1 = firstOrders.filter(o => o.month_ordered === '01' && o.year_ordered === '2021')
              td #{jan21_1.length}
            tr
              td Feb 2021
              - const feb21_1 = firstOrders.filter(o => o.month_ordered === '02' && o.year_ordered === '2021')
              td #{feb21_1.length}
            tr
              td Mar 2021
              - const mar21_1 = firstOrders.filter(o => o.month_ordered === '03' && o.year_ordered === '2021')
              td #{mar21_1.length}
            tr
              td Apr 2021
              - const apr21_1 = firstOrders.filter(o => o.month_ordered === '04' && o.year_ordered === '2021')
              td #{apr21_1.length}
            tr
              td May 2021
              - const may21_1 = firstOrders.filter(o => o.month_ordered === '05' && o.year_ordered === '2021')
              td #{may21_1.length}
            tr
              td Jun 2021
              - const jun21_1 = firstOrders.filter(o => o.month_ordered === '06' && o.year_ordered === '2021')
              td #{jun21_1.length}
            tr
              td Jul 2021
              - const jul21_1 = firstOrders.filter(o => o.month_ordered === '07' && o.year_ordered === '2021')
              td #{jul21_1.length}
            tr
              td Aug 2021
              - const aug21_1 = firstOrders.filter(o => o.month_ordered === '08' && o.year_ordered === '2021')
              td #{aug21_1.length}
            tr
              td Sep 2021
              - const sep21_1 = firstOrders.filter(o => o.month_ordered === '09' && o.year_ordered === '2021')
              td #{sep21_1.length}
            tr
              td Oct 2021
              - const oct21_1 = firstOrders.filter(o => o.month_ordered === '10' && o.year_ordered === '2021')
              td #{oct21_1.length}
            tr
              td Nov 2021
              - const nov21_1 = firstOrders.filter(o => o.month_ordered === '11' && o.year_ordered === '2021')
              td #{nov21_1.length}
            tr
              td Dec 2021
              - const dec21_1 = firstOrders.filter(o => o.month_ordered === '12' && o.year_ordered === '2021')
              td #{dec21_1.length}
            tr
              td Jan 2022
              - const jan22_1 = firstOrders.filter(o => o.month_ordered === '01' && o.year_ordered === '2022')
              td #{jan22_1.length}
            tr
              td Feb 2022
              - const feb22_1 = firstOrders.filter(o => o.month_ordered === '02' && o.year_ordered === '2022')
              td #{feb22_1.length}
            tr
              td Mar 2022
              - const mar22_1 = firstOrders.filter(o => o.month_ordered === '03' && o.year_ordered === '2022')
              td #{mar22_1.length}
            tr
              td Apr 2022
              - const apr22_1 = firstOrders.filter(o => o.month_ordered === '04' && o.year_ordered === '2022')
              td #{apr22_1.length}
            tr
              td May 2022
              - const may22_1 = firstOrders.filter(o => o.month_ordered === '05' && o.year_ordered === '2022')
              td #{may22_1.length}
            tr
              td Jun 2022
              - const jun22_1 = firstOrders.filter(o => o.month_ordered === '06' && o.year_ordered === '2022')
              td #{jun22_1.length}
            tr
              td Jul 2022
              - const jul22_1 = firstOrders.filter(o => o.month_ordered === '07' && o.year_ordered === '2022')
              td #{jul22_1.length}
            tr
        tfoot
          tr
            th(colspan='6')
    footer
      p Retention